.formContainer {
  width: 350px;
  margin: 8vh auto !important;
  border-radius: 0 !important;
  border-color: #003041 !important;
}

.cardHeader {
  margin: 20px auto 30px auto;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.wrongPassword {
  background-color: red;
}

.buttonStyle {
  padding: 6px 20px;
  width: auto;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-out;
  margin: 5px;
  margin-top: 0;
  margin-right: 0;
  cursor: pointer;
}

.submitBtn {
  background-color: #003041;
  color: #fff;
  border-radius: 0;
  border:2px solid #003041;
}

.submitBtn:hover {
  background-color: #6acdee;
  color: #003041;
  border:2px solid #6acdee;
}

.ui.form input,
.ui.form textarea {
  border-radius: 0 !important;
  border-color: #003041 !important;
}

.ui.dividing.header {
  border-color: #003041 !important;
}

.ui.form {
  height: auto !important;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(3px);
  }

  40% {
    transform: translate(-3px);
  }

  60% {
    transform: translate(3px);
  }

  80% {
    transform: translate(-3px);
  }

  100% {
    transform: translate(0);
  }
}

button.shake {
  animation: shake 0.3s ;
  background-color: rgb(138, 2, 2);
  border-color: rgb(138, 2, 2);
  transform: all 0.1s ease-out;
}

button.shake:hover {
  background-color: rgb(138, 2, 2)!important;
  border-color: rgb(138, 2, 2)!important;
  color: #fff;
}

