.formContainer {
    width: 350px;
    margin: 15vh auto!important;
}

.cardHeader {
    margin: 20px 0 30px 0;
}

.error {
    color: red ;
    font-size: 12px;
    margin-bottom: 5px;
}

.wrongPassword {
    background-color: red;
}