.location-container {
  width: 90%;
  max-width: 1080px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardHeader {
  width: 90%;
  max-width: 1080px;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
}

.information-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 8px #ccc;
  width: 100%;
  margin-top: 1vh;
  padding: 15px;
  height: auto;
}

.map-container {
  display: flex;
  width: 48%;
  height: 31em;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.form-container {
    width: 48%;
    height: 31em;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1em;
}

.ui.form {
  font-size: 0.9rem;
  height: 30em;
}

.ui.form .field {
  margin: 0 0 0.5em!important;
}

.ui.form textarea:not([rows]) {
  height: 8em;
  min-height: 6em;
  max-height: 8em;
}

.unvisible-field {
  display: none;
}

.error {
  margin-left: 20px;
}

.mapError {
  font-size: 11px;
  color: red;
  font-weight: 400;
  border-radius: 3px;
  transition: all 0.3s ease-out;
}

.actions {
  display: flex;
  justify-content: space-between;
}