.formContainer {
  width: 350px;
  margin: 8vh auto !important;
  border-radius: 0 !important;
  border-color: #003041 !important;
}

.cardHeader {
  margin: 20px 0 30px 0;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 5px;
}

.termParagraph {
  font-size: 12px;
  font-weight: 400;
}

.termLink {
  color: #4183c4;
}

.buttonStyle {
  padding: 6px 20px;
  width: auto;
  font-weight: 600;
  text-align: center;
  transition: all 0.3s ease-out;
  margin: 5px;
  margin-top: 0;
  margin-right: 0;
  cursor: pointer;
}

.submitBtn {
  background-color: #003041;
  color: #fff;
  border-radius: 0;
  border: 2px solid #003041;
}

.submitBtn:hover {
  background-color: #6acdee;
  color: #003041;
  border-color: #6acdee;
}

.ui.form input,
.ui.form textarea {
  border-radius: 0 !important;
  border-color: #003041 !important;
}

.ui.dividing.header {
  border-color: #003041 !important;
}

.ui.form {
  height: auto !important;
}

.tryAgain {
  color: #000;
}
