.post-map {
  display: flex;
  width: 100%;
  height: 40vh;
  overflow: hidden;
  border-radius: 3px;
}

.post-map .leaflet-container {
  width: 100%;
  height: 40vh !important;
}

.post-container {
  width: 320px;
  border: 1px solid #10103c;
  margin: 20px;
  box-shadow: 0 0 8px #10103c91;
}

.info-container {
  margin: 15px 20px;
  height: 40px;
}
.addressKey {
  font-weight: 700;
  font-size: 16px;
}
.address {
  font-size: 16px;
  color: #003041;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.buttonStyle {
  padding: 6px 20px !important;
  color: #fff;
  width: auto;
  text-align: center;
  transition: all 0.3s ease-out;
  margin: 10px;
}

.detailsBtn {
  margin-right: 10px !important;
  background-color: #003041;
  border: 1px solid #003041;
}
.detailsBtn:hover {
  color: #10103c;
  background-color: #f6b319;
  transition: all 0.3s ease-out;
}

.setLocationBtn {
  background-color: #003041;
  border: 1px solid #003041;
}
.setLocationBtn:hover {
  color: #10103c;
  background-color: #f6b319;
  transition: all 0.3s ease-out;
}
